#logindiv .panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
#logindiv .panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
#logindiv .panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
#logindiv .panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
#logindiv .panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
#logindiv .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
#logindiv .panel-login input:hover,
#logindiv .panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
#logindiv .btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
#logindiv .btn-login:hover,
#logindiv .btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
#logindiv .forgot-password {
	text-decoration: underline;
	color: #888;
}
#logindiv .forgot-password:hover,
#logindiv .forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

#logindiv .btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
#logindiv .btn-register:hover,
#logindiv .btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


#login a {
	width: 220px;
	height: 70px;
	line-height: 60px;
	font-size: 24px;
	text-align: center;	

	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 10px;
}


#logindiv .fade{
	padding-top:250px;
}

#logindiv .modal-dialog {
	width: 600px;
}

#logindiv .modal-footer {
	height: 90px;
	margin: 0;
}

#logindiv .modal-footer .btn {
	font-weight: bold;
}

#logindiv .modal-footer .progress {
	display: none;
	height: 32px;
	margin: 0;
}

#logindiv .input-group-addon {
	color: #fff;
	background: #3276B1;
}

#logindiv .input-group-addon.glyphicon {
	font-size: 20px;
	background-color: #80beb0;
}

#logindiv .form-control.btn {
	font-weight: 300;
	color: white;
	height: 50px;
	font-size: 18px;
	background-color: #80beb0;
}

#logindiv .modal-title{
	font-weight:500;
	color:#808080;
}

#logindiv .progress-bar{
	background-color:#808080;
}

#logindiv .input-group input{
font-size: 20px;
}

#loginlink{
	width:220px;
	border-radius:15px;
	color: rgb(255, 255, 255);
	border: 3px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 15px;
}

#loginlink:HOVER{
	background-color: rgba(217, 217, 217, 0.2);
}

#dropdownMenuLink{
	width:220px;
	border-radius:15px;
	border: 3px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.3);
}

#dropdownMenuLink:HOVER{
	background-color: rgba(217, 217, 217, 0.2);
}

#memberlink .dropdown-menu{
text-align:center;
width:220px;
background-color: rgb(217,217,217);
}

#memberlink .dropdown-item{
width:220px;
background-color: rgb(217,217,217);
}

#memberlink .dropdown-item:hover{
background-color: white;
}

#memberlink .dropdown-item a{
width:220px;
color:#80beb0;
text-decoration: none;
border: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}